<div id="<%= dom_id article %>">
  <div class="paragraph-title">
      <h3><strong>Title:</strong></h3>
      <strong class="title"><%= article.title%> </strong> 
  </div>
  <p class="paragraph-title">
    <strong>User:</strong>
    <%= article.user.username %>
  </p>

</div>
